@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

#map {
    height: 100%;
    display: block;
    background: #FAFAFA !important;
    flex: 1;
}

a {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
}

p {
    padding: 0;
    margin: 0;
}

html, body {
    overflow: hidden;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

body {
    display: flex;
    flex-direction: column;
}

body:after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('icon.png')
}

#上方 {
    background: #FFFFFF;
    box-shadow: 0 2px 19px 0 rgba(0,0,0,0.11);
    position: relative;
    z-index: 10000;
    display: block;
}

#工具列-標題 {
    font-size: 22px;
    font-weight: bold;
}

#工具列 {
    display: flex;
    flex-direction: row;
    /*! justify-content: space-between; */
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    height: 56px;
    box-sizing: border-box;
}

#工具列-下 {
    display: flex;
    height: 100%;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

#工具列-選項 {
    margin-left: 24px;
    padding-left: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: inset 2px 0 0 0 rgba(179,179,179,0.10);
}

.工具列-選項.選項 {
    margin-right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding:0px 12px;
    cursor: pointer;
    font-weight: bold
}

.工具列-選項.啟用 {
    box-shadow: inset 0 -2px 0 0 #000000;
}

.工具列-選項:hover {
    /*box-shadow: inset 0 -2px 0 0 #00000030;*/
}

#工具列-下載 {
    font-size: 14px;
    background: #eaeaea;
    padding: 10px 16px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
}

#工具列-下載:hover {
    background: #00000020;
}

#切換 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.active {
    background-color: #EDEDED;
}

.tabbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    border-radius: 8px;
}

.tab-item-label {
    font-size: 13px;
}

#關於 {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #ffffff;
    flex-direction: column;
    padding: 16px;
    font-size: 15px;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    align-items: center;
    padding-top: 140px;
}

#關於.隱藏 {
    visibility: hidden;
    opacity: 0;
}

#關於.顯示 {
    visibility: visible;
    opacity: 1;
}

.關於-段落 {
    margin-bottom: 40px;
    max-width: 600px;
    width: 100%;
}

#關於-頂端 {
    display: flex;
    justify-content: space-between;
}

.關於-圖標 {
    width: 48px;
    height: 48px;
    background: url("icon.png");
    background-size: cover;
    display: block;
    border-radius: 100%;
    border: 2px solid #eaeaea;
}

#關於-關閉 {
    font-size: 24px;
}

.關於標題 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
}

#關於-說明 {
    font-size: 18px;
    line-height: 160%;
    padding-bottom: 40px;
}

.開放原始碼-一則 {
    margin-bottom: 16px;
    font-size: 13px;
}

.開放原始碼-一則-標題 {
    font-weight: bold
}

#android {
    padding: 16px;
    box-sizing: border-box;
    background: #eaeaea;
    display: none;
}

#android div {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold
}

#android a {
    background: #000000;
    padding: 12px 15px;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    #工具列 {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        height: auto;
    }

    #工具列-上 {
        height: 42px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 4px;
    }

    #工具列-選項 {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    #工具列-下, #工具列-選項 {
        width: 100%;
        height: 44px !important;
        overflow: hidden;
    }

    .工具列-選項.選項 {
        padding: 0px 8px;
        margin-right: 12px;
        font-size: 14px;
    }

    #工具列-行動版 {
        display: none;
    }
}
