@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@media screen and (max-width: 600px) {
	
html {
	width: 100%;
}

body {
	width: inherit;
	margin: 0px auto;
	background: #1b1920;
	color: #ffffff;
	font-family: 'Noto Sans TC', sans-serif;
	padding-top: 90px;
}

a {
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}


#header-title {
	text-indent: 20px;
	line-height: 50px;
	text-align: left;
	z-index: 10000;
	display: block;
	height: 50px;
	background: #2A2730;
	width: 100%;
	top: 0;
	margin-top: 0px;
	position: fixed;
	font-size: 20px;
	font-weight: 500; /* 300 at begin */
	border-bottom: 1px solid #5A5467;
}

/* nav */
#nav {
	height: 40px;
	width: 900px;
	background: #2A2730;
	top: 0px;
	z-index: 1000;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#nav-logo {
	padding-top: 10px;
	margin: 0px auto;
	text-align: center;
}


/* info  */
#infomation {
	margin: 0px auto;
	width: 90vw;
	margin-top: 30px;
	display: inline-block;
}

#info-title {
	text-align: center;
	font-size: 8.0vw; /* 本來8.5 */
	font-weight:500;
}

#info-des {
	display: block;
	width: 90vw;
	text-align: justify;
	padding-top: 10px;
	font-size: 6vw;
	font-weight:300;
	padding-bottom: 60px;
}


#photo {
	text-align: center;
	margin: 0px auto;
	display: inline-block;
	width: 100%;
}

#photo-size-mobile {
	width:80vw;
}

#photo img{
	border: 1px #5A5467 solid;
}


#contact-title {
	margin: 0px auto;
	font-size: 14px;
	width: 70px;
	text-align: center;
	padding: 3px;
	border-radius: 4px;
	margin-bottom: 10px;
	display: inline-block;

}

#top-contact-infobox {	
	margin: 0px auto;
	text-align: center;
}

#contact-info{
	text-align: center;
	left: 0px;
}

#contact-title-more a{
	font-size: 14px;
	margin-left: 5px;
	color: #D2D0D9;
	text-decoration: none;
}

.a-way {
	margin-top: 30px;
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}

.a-way:last-child {
	margin-bottom: 30px;
	display: inline-block;
}


.way {
	font-weight: 300; /* 原200 */
	font-size: 14px;
}

.way-info {
	font-size: 20px;
}

#post {
	margin: 0px auto;
	width: 90vw;
	padding-top: 70px;
}

.post-title {
	padding-top: 10px;
	font-weight: 500;
	font-size: 25px;
	padding-bottom: 20px;
}

.qanda-content-q {
	font-size: 16px;
	font-weight: 500;
}

.qanda-content-a {
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
}


#footer {
	padding-top: 80px;
	margin: 0px auto;
	padding-bottom: 30px;
}

#share-buttom {
	margin: 0px auto;
	text-align: center;
	top: 0px;
	margin-top: 12px;
	position: fixed;
	right: 0px;
	margin-right: 30px;
	z-index: 10001;
}

#links {
	font-weight: 300;
	font-size: 14px;
}

#links a{
	font-weight: 400 !important;
	font-size: 14px;
}


#lastupdate {
	font-size: 12px;
	padding-top: 10px;
	font-weight: 200;
	color: #ffffff;
}

/* spotlight */
#spotlightQA {
	background: #29262F;
	border: 1px solid #403C49;
	padding: 20px;
	margin-left: 00px;
}

#basicinfo {
	text-align: center;
}


#footer-contact-box {
	margin: 0px auto;
	text-align: center;
	background: #29262F;
	border: #403C48 solid 1px;
	padding-top: 20px;
	margin-bottom: 70px;
}

.footer-box {
	display: inline-block;
	padding-left: 30px;
 	vertical-align: top;
	text-align: left;
	padding-bottom: 20px;
}

.smallerfooterbox {
	padding-top: 10px;
	display: inherit;
	margin-right: 60px;
}

.smallerfooterbox-last {
	padding-top: 10px;
	display: inherit;
}

.footer-title {
	font-size: 12px;
	font-weight: 300;
	color: #D2D0D9;
}

.footer-content {
	font-size: 14px;
	color: #D2D0D9;
}

.boxtitle {
	color: #8F8C97;
}

#comment-button {
	background: #403C48;
	padding :4px 9px 4px 9px;
	border: #1B1920 2px solid;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 1px;
}

#comment-button:hover {
	color: #9C96A9;
	background: #312E37;
}

.smallerfooterbox a {
	color: #D2D0D9;
}

.smallerfooterbox-last a {
	color: #D2D0D9;
}

.smallerfooterbox a:hover {
	color: #D2D0D9;
	/* text-shadow: 0px -1px 13px rgba(255, 255, 255, 1); */
}

.向上手指 {
	display: inline-block;
}

.向左手指 {
	display: none;
}
}