@charset "UTF-8";
body {
	margin: 0px;
	font-family: sans-serif;
}

#list-box-center {
	text-align: center;
}


#list-box {
	display: inline;
	font-size: 14px;
	baclground: #403C48;
	border: 2px solid #403c48;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 5px;
	color: #403C48;
}

.post {
	display: inline;
	padding-right: 20px;
	padding-left: 20px;
	background: #403c48;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: -2px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
	-ms-transition: background 0.1s linear;
	-o-transition: background 0.1s linear;
	transition: background 0.1s linear;
	font-size: 14px;
}

.post:hover {
	background: #FFFFFF;
	color: #403c48;
}

.title {
	text-align: center;
	padding-right: 11px;
	padding-bottom: 9px;
	margin-right: -2px;
	border-right: 1px #403C48 solid;
	display: block;
	font-size: 14px;
}

#list-box a {
	color: #FFFFFF;
	text-decoration: none;
}

#list-box a:hover {
	color: #403c48;
}

.post-nowhere {
	padding-right: 20px;
	padding-left: 20px;
	background: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: -2px;
	color: #403c48;
	font-weight: bold;
	font-size: 14px;
}
