@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Teko:300');

@media screen and (min-width: 1000px) {

/* 全局 */
html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Noto Sans TC', sans-serif;
	height: 100%;
	min-height: 100%;
}

/* 公告 */
#公告 {
	right: 0px;
	left: 0px;
	top: 5px;
	position: absolute;
	z-index: 2000;
	text-align: center;
	font-size: 12px;
	color: #6F6F6F;
}

#公告 a {
	text-decoration: underline;
	font-style: italic;
	color: #6F6F6F;
}

	/* 推文 */
	.推 {
		color: #3A3A3A;
	}
	
	.作者 {
		color: #BBB900;
	}
	
	.內文 {
		color: #8C8943;
	}

/* 關於 */
#關於 {
	position: absolute;
	top: 10px;
	right: 20px;
}

#關於按鈕 {
	height: 35px;
	opacity: 10%;
	-webkit-filter:opacity(.5);
}

#關於容器 {
	height: 40px;
	right: 10px;
	top: 10px;
	float: left;
	display: block;
	font-size: 12px;
	padding-right: 0px;
	z-index: 1000;
	position:fixed;
	opacity: 0;
	-webkit-transition: 0.5s;
}

#關於容器:hover, #關於容器:active {
	padding-right: 60px;
	float: left;
	opacity: 1;
	-webkit-transition: 1s;
	color: #5A5A5A;
}

#關於容器 a{
	color: #5A5A5A;
}


/* 特效 */
#頂端漸層 {
	padding-bottom: 100px;
	z-index: -1;
}

#底部漸層 {
	position: fixed;
	bottom: 0;
	z-index: -100;
	height: 320px;
	width: 100%;
	padding-botton: 0px;
	background:url('./bg.png');
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
}

/* 標題 */
#標語容器 {
	text-align: center;
	margin: 0px auto;
	margin-top: -25px;
}

#標語 {
	z-index: 10000000;
	display: block;
	position: bsolute;
	color: #505050;
	font-size: 20px;
	padding-bottom: 15px;
}

#標語 a{
	text-decoration: none;
	border-bottom: 1px solid #505050;
	color: #505050;
}

#標題區塊 {
	text-align: center;
	margin: 0px auto;
	width: 650px;
	line-height: 88px;
	margin-bottom: 20px;
	font-style: italic;
}

#大標題 {
	font-size: 90px;
	background: -webkit-linear-gradient(left, #f21c82, #69c4df);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: bold;
}

#小標題 {
	font-size: 42px;
	background: -webkit-linear-gradient(left, #f21c82, #69c4df);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	letter-spacing: 57px;
	padding-left: 15px;
}

/* 倒數計時器 */
.countdown {
	font-weight: 200;
	color: #FFFFFF;
	text-align: center;
	margin: 0px auto;
	font-size: 70px;
	border: 10px solid #FFFFFF;
	width: 700px;
	padding: 10px;
	background: -webkit-linear-gradient(left, #f21c82, #69c4df);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-box-shadow: 0 2px 2px #999, inset 0 2px 2px #999;
	-moz-box-shadow: 0 2px 2px #999, inset 0 2px 2px #999;
	box-shadow: 0 2px 2px #999, inset 0 2px 2px #999;
	font-style: italic;
}

#clock {
	
}

#text {
	font-size: 20px;
	font-weight: 400;
}

#購票開始 {
	margin-top: -13px;
	font-size: 70px;
	margin-bottom: -100px;
}

#購票開始小字 {
	font-size: 20px;
	line-height: 10px;
}

/* 讚 */
#讚 {
	padding-top: 15px;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 20px;
}

/* 頁尾 */
.時間修改 {
	position: absolute;
	margin-top: 17px;
	margin-left: 212px;
	width: 43px;
	height: 67px;
	background: url("./timechange.png");
	background-size: 100%;
	line-height: 67px;
}

.日期{
	font-size: 67px;
	color: #ffffff;
	font-weight: 100;
	font-style: italic;
	display: inline-block;
	vertical-align: middle;
}

#頁尾 {
	clear: both;
    position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 20px;
	background-size: 100%;
}
	
#頁尾內容容器 {
	width: 100%;	
	margin: 0px auto;
}
	
.購票容器 {
	vertical-align: middle;
	margin-left: 20px;
	display: inline-block;
}

.購票 {
	font-size: 30px;
	color: #FFFFFF;
	text-shadow: 0 1px 2px #696969;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 15px;
	font-style:normal;
}

#地點 {
	color: #FFFFFF;
	font-weight: 100;
	font-style: italic;
	border: solid #FFFFFF 1px;
	font-size: 28px;
	padding-left: 18px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	letter-spacing: 18px;
	display: inline-block;
	width: auto;
	margin-left: -15px;
}

#月日{
	padding-top: 2px;
	float: right;
	padding-right: 13px;
	font-size: 42px;
	color: #ffffff;
	font-weight: 100;
	font-style: italic;
	margin-top: -9px;
	letter-spacing: -1px;
}

.一個區塊 {
	margin: 0px auto;
	width: 1000px;
	display: block;
}

.一個時間 {
	display: inline-block;
}

#場次 {
	vertical-align: -5%;
	display: inline-block;
	width: auto;
	font-size: 39px;
	color: #FFFFFF;
	font-weight: 100;
	font-style: italic;
	margin-left: 10px;
}

/* 聊天室 

#聊天室容器{
	width: 300px;
	hight: 100%;
	position: fixed;
	z-index: 2000;
	background: #000;
	bottom:0;
	top: 0;
	right: 0;
}

*/

/* JMI */
#JMIicon {
	background:url('./JMIicon.png');
	width: 50px;
	height: 50px;
	background-size: 100%;
	float: left;
	margin-top: 7px;
	margin-right: 5px;
}

#JustMaydayIt容器 {
	margin: 10px 10px; 
	box-sizing: border-box;
	padding: 5px 10px 10px 10px;
	position: fixed;
	width: 335px;
	height: auto;
	background: #ffffff;
	border: 1px solid #DDDDDD;
	transition: 0.2s;
}

#JMI標題 {
	display: inline-block;
	font-size: 14px;
	color: #2C2C2C;
}

#JMI說明 {
	font-size: 12px;
	color: #747474;
}

#JustMaydayIt容器:hover {
	transition: 0.2s;
	box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.33);
}

/* 倒數切換 */ 
#倒數切換按鈕區塊 {
	position: fixed;
	top: 5px;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: 139px;
	display: block;
}

.倒數切換按鈕 {
	display: inline-block;
	font-size: 12px;
	border-top: #C3C3C3 1px solid;
	border-left: #C3C3C3 1px solid;
	border-bottom: #C3C3C3 1px solid;
	padding: 2px 10px;
	border-radius: 5px 0px 0px 5px;
	color: #C3C3C3;
}

.倒數切換按鈕 a{
	color: #C3C3C3;
	text-decoration: none;
}

.倒數切換按鈕:last-child {
	border-right: #C3C3C3 1px solid;
	border-radius: 0px 5px 5px 0px;
}

.倒數切換按鈕-啟用 {
	background: #F3F3F3;
}

.倒數切換按鈕-啟用 a{
	color: #919191;
}
}