@charset "UTF-8";

/* 合輯區塊 */
.一張合輯 {
	vertical-align: top;
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 40px;
}

.一張合輯:last-child {
	margin-right: 0px;
}

.合輯封面按鈕 {
	border: none;
	text-align: left;
	padding: none;
	background: none;

}

/* 合輯封面 */
.合輯封面 {
	border: none;
	padding: 0px;
	height: 215px;
	width: 215px;
	box-shadow: 0px 12px 26px 0px rgba(0,0,0,0.22);
	transition: box-shadow 0.2s linear;
	cursor: pointer;
}

img {
	width: 215px;
}

.合輯封面:hover {
	box-shadow: 0px 12px 40px 0px rgba(0,0,0,0.51);
	transition: box-shadow 0.2s linear;
}

/* 合輯資訊 */

.合輯名稱 {
	margin-top: 10px;
	font-size: 16px;
	width: 215px !important;
	text-overflow: ellipsis;
}

.合輯資訊 {
	height: 60px;
	font-size: 14px;
	color: #606060;
	text-overflow: ellipsis;
	display: block ;
	width: 215px;
	white-space: normal;
	overflow: hidden;
	background: -webkit-linear-gradient(top, #606060 50%,#ffffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
