@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*
	「瀏覽.css」是指「browse.html」頁面所專屬的樣式，關於「瀏覽」類型頁面的通用樣式寫在「瀏覽頁面通用樣式.css」。
*/

body {
	overflow-x: hidden;
}

/* 頂端提示框 */
#頂端提示框 {
	z-index: 100000;
	display: block;
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.07);
	height: 30px;
	font-size: 14px;
	color: #747474;
	line-height: 29px;
	text-indent: 50px;
}

#頂端提示框 a{
	color: #747474;
	text-decoration: underline;
}

/* 標題與段落 */
#標題與段落盒子 {
	/* 更多選項寫在瀏覽頁面通用樣式.css */
	background-image: url('../images/source/瀏覽背景.png');
	background-size: 100%;
	background-repeat:no-repeat;
	background-position:center;
}

/* 縮排 */
.縮排 {
}

/* 合輯 */

.一張合輯 {
	vertical-align: top;
}

.合輯封面 {
	width: 20vw !important;
	height: 20vw !important;
}

.合輯名稱 {
	width: 20vw !important;
	text-overflow: ellipsis;
}

.合輯資訊 {
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block !important;
	width: 20vw !important;
	white-space: normal;
	background: -webkit-linear-gradient(top, #606060 50%,#ffffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* 專輯 */

.一張專輯 {
	vertical-align:top;
	white-space: normal;
}

.專輯封面 {
	width: 20vw !important;
	height: 20vw !important;
}

.專輯名稱 {
	width: 20vw !important;
	text-overflow: ellipsis;
}

.專輯資訊 {
	width: 20vw !important;
}

/* 演唱會 */

.演唱會封面 {
	width: 20vw !important;
	height:9.7vw !important;
}

.演唱會名稱 {
	width: 20vw !important;
	text-overflow: ellipsis;
}

.演唱會資訊 {
	width: 20vw !important;
}

/* 區塊 */
.區塊盒子 {
	white-space: nowrap;
}

/* 新 */
.新 {
	padding: 0px  2px;
	line-height: 24px;
	border-radius: 4px;
	text-align: center;
	position:absolute;
	width: 45px;
	height: 24px;
	color: #B03638;
	font-size: 12px;
	display: block;
	margin-left:8px;
}