@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+JP:wght@600;700&family=Noto+Serif+TC:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap');

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', 'Noto Sans TC', 'ccl', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

/* 讀取 */
#讀取 {
    position: fixed;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background: #F4F4F4;
    justify-content: center;
    align-items: center;
    z-index: 30000000;
    transition: 0.5s ease;
    touch-action: none;
    top: 0;
    left: 0;
}

#讀取:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: url("https://chelinchan.com/src/ic_loading.gif");
    background-size: cover;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.讀取_離開 {
    opacity: 0;
    visibility: hidden;
}

/* 動畫 */
@keyframes 動畫-捲動進入 {
    0% {
        visibility: hidden;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        visibility: visible;
        transform: translate3d(0, 0, 0);
    }
}

.動畫-捲動進入 {
    opacity: 0;
    /*visibility: hidden;*/
    transition: opacity 0.5s ease-in-out;
}

.動畫-捲動進入_執行 {
    opacity: 1;
    /*visibility: visible;*/
    animation: 動畫-捲動進入 0.5s ease-out;
}

@keyframes 動畫-淡入 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.動畫-淡入 {
    opacity: 0;
}

.動畫-淡入_執行 {
    opacity: 1;
    animation: 動畫-淡入 0.75s linear;
}

@keyframes 動畫-選單-淡入 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* 文字 */
h2, h3, .內文 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #000000;
}

h2, .二次標題 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.內文 {
    opacity: 0.85;
}

.內文, .次內文 {
    font-size: 15px;
    font-weight: 500;
}

.二次標題, .次內文, .次說明內文 {
    opacity: 0.5;
    font-weight: 500;
}

.說明內文, .次說明內文 {
    font-size: 14px;
    max-width: 450px;
}

.句子 {
    white-space: nowrap;
    display: inline-block;
}

/* 區塊 */
.區塊-全寬區塊 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

.全寬區塊-內容 {
    width: 100%;
    max-width: 1100px;
    display: block;
}

.內容-兩欄 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 48px;
}

/* 元件 */
.按鈕 {
    background: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.08);
    border-radius: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    transition: 0.1s ease;
}

.按鈕:after {
    content: '';
    width: 14px;
    height: 12px;
    background: url('src/ic_arrow.png');
    background-size: cover;
    display: block;
    margin-left: 12px;
}

.按鈕:hover {
    transform: scale(103%);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.10);
    transition: 0.1s ease;
}

/* 內容 */
#內容 {
    width: 100%;
    opacity: 1;
    background-image: linear-gradient(217deg, #FFEDFE 0%, #F0F9FF 100%);
    position: relative;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
}

#內容:before {
    content: '';
    display: block;
    height: 564px;
    width: 502px;
    background: url('src/bg_top_right.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

#內容:after {
    content: '';
    display: block;
    height: 674px;
    width: 783px;
    background: url('src/bg_bottom_left.png');
    background-size: cover !important;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 導覽列 */
#導覽列-內容 {
    height: 54px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.07);
}

#導覽列-內容-logo {
    width: 7px;
    height: 15px;
    display: block;
    background: url('src/ic_logo.png');
    background-size: cover;
}

#導覽列-內容-名稱 {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

#導覽列-內容-名稱:before {
    content: '';
    height: 18px;
    width: 2px;
    background: #00000050;
    display: block;
    margin-right: 12px;
}


/* 網頁標題 */
#網頁標題 {
    margin-top: 124px;
}

.標題-大標題 {
    font-size: 48px;
    color: #000000;
    font-weight: 600;
}

.標題-副標題 {
    font-size: 22px;
    color: #000000;
    opacity: 0.6;
}

/* 展示 */
#就是五月天-說明 {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 480px;
}

#就是五月天-說明-上半部 {
    margin-top: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#就是五月天-說明-上半部-按鈕 {
    display: flex;
    margin-top: 60px;
}

#就是五月天-說明-上半部-行動版警示 {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px 20px;
    box-sizing: border-box;
    color: #45303F;
    background: #FFFFFF;
    box-shadow: 0 2px 25px -9px rgba(0,0,0,0.20);
    font-size: 14px;
    border-radius: 8px;
    display: none;
}

#就是五月天-說明-上半部-行動版警示-圖標 {
    background: url('./src/ic_noMobile.svg');
    width: 28px;
    height: 28px;
    background-size: cover;
    margin-bottom: 16px;
    margin-top: 8px;
}

#就是五月天-說明-下半部 {
    opacity: 0.5;
}

#就是五月天-右 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#就是五月天-右-圖片 {
    width: 100%;
    display: block;
    padding-bottom: 91.25%;
    background: url('./src/img_jmi.jpg');
    background-size: cover;
    border-radius: 8px;
}


/* 註解 */
#註解 {
    padding: 88px 24px;
    box-sizing: border-box;
}

/* 頁腳 */
footer {
    padding: 60px 24px;
    box-sizing: border-box;
    background: #FAFAFA;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.11);
}

footer a {
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 724px) {
    /* 元件 */
    .按鈕 {
        font-size: 14px;
    }
    /* 文字 */
    h3 {
        font-size: 18px;
    }
    .標題-大標題 {
        font-size: 31px;
    }

    .標題-副標題 {
        font-size: 18px;
    }

    /* 內容 */
    #內容 {
        padding-bottom: 100px;
    }

    #內容:before {
        width: calc(564px / 2);
        height: calc(502px / 2);
    }

    #內容:after {
        /*! width: calc(674px/2); */
        height: calc(783px/2);
    }

    .內容-兩欄 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 60px;
    }

    /* 網頁標題 */
    #網頁標題 {
        margin-top: 120px;
        /*! margin-bottom: 120px; */
    }

    /* 展示 */
    #就是五月天-說明 {
        min-height: 0;
    }
    
    #就是五月天-說明-上半部 {
        margin-top: 0px;
    }

    #就是五月天-說明-上半部-按鈕 {
        display: flex;
        margin-top: 32px;
        display: none;
    }
    
    #就是五月天-說明-上半部-行動版警示 {
        display: block;
    }

    #就是五月天-說明-下半部 {

    }

    #就是五月天-右 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #就是五月天-右-圖片 {
        width: 100%;
        display: block;
        padding-bottom: 91.25%;
        background: url('./src/img_jmi.jpg');
        background-size: cover;
        border-radius: 8px;
    }


    /* footer */
    footer {
        padding: 30px 0;
    }
}